.notes {
  margin: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.no-notes {
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
